.body{
  height: 98%;
  margin: 0%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-image: url(/assets/2.jpg);
  background-repeat: no-repeat;
  height: auto; */
  /* background-color: #ffcfdf; */
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  padding-left: 20px;
}
.bottom
{
   bottom: 0;
   /* position:absolute ; */
   width: 100%;
   background-color:#008080; 
   color: white;
}
.zoom {
  transition: transform .2s;
  width: 950px;
  height: 301px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
}
.cc
{
  text-align: left;
  align-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.calc
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.part{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}